body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.top-banner h2 {
    color: #ec4c7a;
    margin: 0;
}

.top-banner h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

}

.top-banner p {
    margin-bottom: 40px;
    color: #707070;
}

.top-banner-title {
    padding-top: 110px;
}

section {
    height: 500px;
}

.section-padding-top {
    padding-top: 100px;
}

.section-padding-bottom {
    padding-bottom: 170px;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec5094, #ec4b72);
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;

}

.link_button:hover {
    border: 1px solid #ec4b72;
    color: #ec4b72;
    transition: 0.4s all ease-in-out;
    background: transparent;
}

.biography-area {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.biography-area img {
    width: 90%;
}

.biography-area p {
    margin-bottom: 50px;
    color: #707070;
}

.biography-title {
    padding-top: 110px;
}

.bio-bg-clr {
    background-color: rgb(247, 244, 244);
}

.work img {
    width: 100%;
    border-radius: 5px;
}

.work {
    width: 30%;
    float: left;
    margin: 20px;
    padding-top: 70px;
    padding-bottom: 130px;
}

.my-work {
    background: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-top: 100px;
    padding-bottom: 70px;
}

.my-work-heading {
    text-align: center;
}

.client {
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.client-title {
    text-align: center;
}

.client-title span {
    padding: 50px 0;
}

.link {
    padding-top: 50px;
    padding-bottom: 20px;
}

.link a {
    text-decoration: none;
    padding: 30px 170px;
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #ec5094, #ec4b72);
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
}

.link span {
    font-weight: 300;
    font-size: 14px;
}

.client-title p {
    color: gray;
    font-size: 12px;
    margin-top: -10px;
}

.services {
    min-height: 700px;
}

.services-cat {
    width: 45%;
    float: left;
    margin: 20px;
}

.service-box {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    padding: 10px;
    box-shadow: 6px 17px 35px -11px rgba(0, 0, 0, 0.47);
}

.service-box:hover {
    background-image: linear-gradient(45deg, #ec5094, #ec4b72);
    color: #fff;
}

.service-box h3,
.service-box p {
    text-align: center;

}

.service-box h3 {
    padding-top: 30px;
}

.service-box p {
    color: #707070;
}

.my-work-heading {
    padding-bottom: 50px;
}

footer {
    font-size: 12px;
    color: gray;
    text-align: center;
    padding-bottom: 20px;
    display: block;
}